h1 {
  display: flex;
  justify-content: center;
}

#title {
  margin: 0;
  padding: 0;
}

#word-bank {
/*   width: 100%; */
/*   display: flex; */
  justify-content: center;
  align-content: center;
/*   float: inline-end; */
}

#game {
  width: 100%;
  font-weight: 100;
  display: flex;
  /*justify-content: center;*/
  /*align-items: center;*/
}

#player-menu {
  /*width: 33%;*/
  float: left;
  padding: 1em;
  margin: 0;
  display: inline;
  justify-content: center;
  align-items: center;
}

#player-art {
  display: block;
  justify-content: center;
  align-items: center;
  margin: 1em;
  
}

#player-info {
 display: block;
 margin: 1em;
}

#player-title {
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 0;
  padding: 0;
}

#player-name {
  /*float: left;*/
  display: inline;
  margin: 0;
  margin-right: .5em;
  padding: 0;
}

#player-level {
  /*float: right;*/
  display: inline;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: .5em;
  padding: 0;
}

li {
  margin: .5em;
}

#player-mana {
  float: left;
  display: inline;
}

.mana {
  display: inline;
}

#player-inventory {
  float: right;
  display: inline;
}

#dynamic-menu {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

#word-search {
  display: 
  width: 100%;
  margin: 0;
  justify-content: center;
  align-items: center;
  margin-top: 4em;
}

#collision-menu {
  float: right;
  margin: 0;
  display: none;
  justify-content: center;
  align-items: center;=
}

#collision-art {
  display: flex;
  width: 100%;
  justify-content: center;
}

#collision-name {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
}

#battle {
  display: block;
  width: 100%;
  
}

#battle-top {
  display: flex;
  width: 100%;
  justify-content: center;
}

#battle-bottom {
  display: flex;
  width: 100%;
  justify-content: center;
}




/*
@keyframes breathe {
  from {
    font-style: normal;
  }

  to {
    font-style: italic;
  }
}
*/
body {
  background-color: black;
  background-image: radial-gradient(
    rgba(255, 255, 255, 0.17), black 120%
  );
  height: 100vh;
  margin:ee 0;
  overflow: hidden;
  padding: 2rem;
  color: white;
  font: 1.3rem "Courier", monospace;
  text-shadow: 0 0 5px #C8C8C8;
}

pre {
  margin: 0;
}

