/*@font-face {
    font-family: 'Erika Ormig';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/Erika_Ormig.ttf');
    src: url('./assets/fonts/fsex300-webfont.eot');
    src: url('./assets/fonts/fsex300-webfont.eot?#iefix') format('embedded-opentype'),
         url('./assets/fonts/fsex300-webfont.woff') format('woff'),
         url('./assets/fonts/fsex300-webfont.ttf') format('truetype'),
         url('./assets/fonts/fsex300-webfont.svg#FixedsysExcelsior301Regular') format('svg');
    -webkit-font-smoothing: aliased;
    font-smooth: never;
}*/

* {
  font-family: "Courier", monospace;
  /*font-family: "Erika Ormig", monospace;*/
}

html, body {
  height: 100%;
}

h1 {
  display: flex;
  justify-content: center;
  /*font-family: "FixedsysExcelsior", monospace;*/

  /*font-family: 'Blackwood', Courier, sans-serif;*/
}

#game {
  width: 100%;
  font-weight: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

#player-menu {
  width: 33%;
  float: left;
  padding: 1em;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
/*   background: rgb(250,230,230); */
}

#word-search {
  margin: 0;
  display: inline;
}

#collision-menu {
  float: right;
  width: 33%;
  margin: 0;
  display: flex;
  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
  align-items: center;
/*   background: rgb(230,230,250); */
}

pre {
  background-color: transparent;
  border: 0px;
  animation-duration: 1s;
  animation-name: breathe;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
}

@keyframes breathe {
  from {
    /*font-size: 100%;*/
    font-style: normal;
  }

  to {
    /*font-size: 110%;*/
    font-style: italic;
  }
}